* {
  box-sizing: inherit;
}

i {
  font-size: 30px;
  margin-left: 15px;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 960px;
  margin: auto;
}

p {
  font-size: 24px;
  font-weight: 400;
}

h1 {
  font-weight: 700;
  font-size: 36px;
  width: 70%;
}

h2 {
  font-size: 36px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

h4 {
  font-size: 18px;
  font-weight: 400;
}

article {
  font-size: 18px;
  margin-top: 20px;
}

ul {
  display: flex;
}

li {
  font-size: 18px;
  font-weight: 400;
  margin-left: 20px;
}

nav {
  background-color: #4e4e4e;
  color: white;
  height: 50px;
}

.navcontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

a {
  color: white;
  text-decoration: none;
}

.not-allowed {
  cursor: not-allowed;
}

.headercontainer {
  height: 100%;
  display: flex;
  align-items: center;
}

.hero {
  height: calc(100vh - 50px);
  background-image: url(/forest.webp);
  background-size: cover;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
}

.hero-content {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  color: white;
}

.btn {
  background-color: transparent;
  border: 3px solid white;
  padding: 10px 50px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  transition: 1s;
}

.btn:hover {
  background-color: white;
  color: black;
}

.bulk {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url(/bulk.jpg);
  background-size: 135%;
  background-position: center;
}

.peter {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url(/piotr.jpg);
  background-size: 100%;
  background-position: center;
}

.staff {
  margin-top: 50px;
}

.worker {
  margin: 50px 0;
  display: flex;
}

.description {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  margin: auto;
  padding: 20px;
}

.worker:nth-of-type(even) {
  flex-direction: row-reverse;
  text-align: right;
}

.services-background {
  background-color: #405d78;
  color: white;
}

.service-list {
  padding-top: 50px;
}

.box {
  height: 600px;
  width: 730px;
  padding: 30px 0;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.service {
  height: 200px;
  width: 200px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  background-color: white;
  transition: 0.5s;
}

.service:hover {
  transform: scale(1.05);
}

.new {
  position: relative;
  flex-direction: column;
}

.dot {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #e07a64;
  border-radius: 50%;
  top: -10px;
  left: -10px;
}

.footer-background {
  background-color: #4e4e4e;
  color: white;
}

.footer-container {
  height: 70px;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icons {
  display: flex;
}
